<apex:page showHeader="true" sidebar="true" controller="updateDatedExchangeRatesController" title="Exchange Rates">

    <apex:sectionHeader title="Exchange Rates" subtitle="Update dated exchange rates" />
        <apex:form >

            <apex:pageBlock title="">
                <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!updateRates}" value="Update system exchange rates"/>

                </apex:pageBlockButtons>
                <apex:outputPanel rendered="{!showConfirmation}">
                    <apex:pageMessages escape="false" />
                    <a href="https://cloudreach.my.salesforce.com/_ui/system/organization/AdvancedCurrencyManagement">Check here to confirm that exchange rates have been updated.</a>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:form>

</apex:page>