<apex:page controller="UpdateCasesController">
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockSection >
				<apex:commandButton value="Start Case Update Job" action="{!scheduleUpdate}" />
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>